<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        nav{
            display: flex;
            justify-content: space-between;
            background-color: gold;
        }
        
        button{
            color: brown;
            background-color: black;
        }

        .logindiv{
            background-color: chocolate;
        }
    </style>
</head>
<body >
    <nav>
        <ul>
            <li><a href="/Signup">Signup</a></li>
            <li><a href="/login">login</a></li>
        </ul>
    </nav>
    <h1>LOGIN</h1>
    
<div class="logindiv" ><label for="name">Email:</label><br>
    <input type="text" placeholder="input Email"  required  id="Email"  name="Email"><br>
    <input type="password" placeholder="input password" required id="password">
    <div>
        <button type="submit">LOGIN</button>
    </div>
        
    </div>
       
</form>

</body>
</html>
</html>